/* Conteneur principal */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding-top: 0; 
}

/* Formulaire de connexion */
.login-form {
    width: 90%;
    max-width: 400px; /* Limiter la largeur du formulaire */
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.login-input {
    width: 100% !important; /* Forcer la largeur à 100% */
    display: block; /* S'assurer qu'ils sont en mode block */
    margin-bottom: 1.5rem; /* Ajouter de l'espace entre les champs */
    padding: 1rem; /* Augmenter le padding pour plus de confort */
    font-size: 1rem; /* Augmenter la taille de la police */
    border-radius: 8px; /* Arrondir les coins */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajouter une ombre subtile */
    border: 1px solid #ccc; /* Ajouter une bordure légère */
}

.login-input:focus {
    border-color: var(--primary-color); /* Changer la couleur de la bordure au focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Augmenter l'ombre au focus */
    outline: none; /* Supprimer l'outline par défaut */
}

/* Bouton de connexion */
.login-button {
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

/* Appliquer la même largeur pour tous les éléments */
.login-button, .login-input {
    width: 100%;
}

.login-button:hover {
    background-color: var(--accent-color);
}

/* Lien "Mot de passe oublié ?" */
.forgot-password {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
