/* Container for the label and dropdown */
.nombre-classes {
    display: flex;             
    align-items: center;         /* Vertically align the input and label */
    justify-content: flex-start; /* Left-align the container */
    gap: 10px;                   /* Add some space between the label and input */
    max-width: 400px;            /* Set a fixed width for the container */
    padding: 10px 0;              /* Prevent the container from overflowing its parent */
    color: #333; 
  }
  
  /* Label styling */
  .label-nombre-classe {
    font-weight: bold;           /* Make the label bold */
    margin-right: 10px;   
    width: 200px;                /* Prevent the label from wrapping */
    text-align: left;
  }
  
  /* FormControl styling for the dropdown */
  .MuiFormControl-root {
    width: 150px;                  /* Ensure the dropdown fits its content */
    max-width: 200px;             /* Set a minimum width for the dropdown */
  }
  