.periode-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    
}

.periode-title {
    text-align: center;
}

.label-nombre-periodes {
    display: block;
    margin-bottom: 4px;
}

.periode-input {
    flex: 1; /* Permet d'ajuster la largeur automatiquement */
    margin-right: 16px;
}


