h2.periode-title {
    text-align: start;
    margin-top: 20px; 
}

.nombre-Periode {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: auto; /* Let it size according to content */
    max-width: 400px; /* Limit to 400px or adjust as needed */
 
}

/* Label styling */
.label-nombre-Periode {

    font-size: 16px;
    white-space: nowrap; /* Prevent the label from wrapping */
    color: #333; 
}

/* FormControl styling for the dropdown */
.MuiFormControl-root {
    width: max; /* Ensure the dropdown fits its content */
    max-width: 250px; /* Set a maximum width to control the size */
}


/* Container for PeriodeCard components */
.periode-cards-container {
    display: flex;
    flex-wrap: wrap; /* Ensures the items wrap if there isn't enough space */
    gap: 20px; /* Adds spacing between the items */
    justify-content: flex-start; /* Align items to the start of the container */
    width: 100%; /* Ensure the container takes full width */
    align-items: flex-start;
    margin-top: 5%;
}

