:root {


  --primary-color: #D32F2F; /* Rouge que nous voulons utiliser pour le site */
  --secondary-color: #212121; /* Couleur de fond ou secondaire */
  --accent-color: #F44336; /* Accentuation et survols */
  --background-color: #E0E0E0; /* Fond des sections */
  --text-color: #3C3C3C; /* Couleur du texte principal */
  --text-color-dark-bg: #D5D5D5; /* Couleur du texte sur fond sombre */
  --section-color: #ffffffb5; /* Fond des sections */

  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-large: 3.2em;
  --font-size-medium: 1.5em;
  --font-size-small: 1em;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none; /* Enlever les soulignements */
  transition: color 0.3s ease; /* Transition plus douce */
}

a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  background-color: var(--background-color); /* Couleur de fond des sections */
  font-family: var(--font-family);
  color: var(--text-color);
}


h1 {
  font-size: var(--font-size-large);
  line-height: 1.1;
  color: var(--text-color);
  margin: 0.5em 0;
  font-weight: 500;
}

h2, h3, h4 {
  color: var(--text-color);
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: 500;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--font-size-small);
  font-weight: 500;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--accent-color);
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  a:hover {
    color: var(--primary-color);
  }
  button {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
}

